body{
    padding: 2px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.315),rgba(0, 0, 0, 0.315),rgba(0, 0, 0, 0.281)), url('bg.jpg');
    background-size: cover;
    background-position: center;
    
}